body {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 96%);
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.accordion-container {
  width: 100%;
  max-width: 600px;
  background: hsl(0, 0%, 100%);
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

h2 {
  text-align: left;
  color: #333;
  padding: 25px;
  margin: 0;
  border-bottom: 2px solid hsl(0, 0%, 87%);
}

input[type="radio"] {
  display: none;
}

.tab {
  position: relative;
  width: 100%;
}

.tab-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: hsl(0, 0%, 100%);
  font-weight: bold;
  cursor: pointer;
  border-bottom: 1px solid hsl(0, 0%, 93%);
  transition: all 0.3s;
  position: relative;
  z-index: 1;
}

.close-trigger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
  z-index: 10;
}

input[type="radio"]:checked ~ .close-trigger {
  display: block;
}

.tab-label::after {
  content: "+";
  font-size: 1.2em;
  font-weight: bold;
  transition: transform 0.3s;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 20px;
  background: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 33%);
  transition: max-height 0.4s ease-out, padding 0.4s;
}

input[type="radio"]:checked + .tab-label {
  background: hsl(211, 100%, 50%);
  color: hsl(0, 0%, 100%);
}

input[type="radio"]:checked + .tab-label::after {
  transform: rotate(45deg);
}

input[type="radio"]:checked ~ .tab-content {
  max-height: 200px;
  padding: 15px 20px;
  border-bottom: 1px solid hsl(0, 0%, 93%);
}
